{% extends 'base.html' %}



{% block content %}

<label>Upload a CSV file with a list of the users you want to add</label><hr>

<form title="bulk_upload" method = "POST" enctype = "multipart/form-data">

  <div title="upload_users" class="form-group">
    <label class="form-label mt-4 required" for="file">Upload</label>
    <input class="form-control" type = "file" name = "file" />
  </div>

    <div title="submit" class="form-group mt-4">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form>

<br/>
<table title="download_user_template" >
  <tr><td>
  <a href="{{ url_for('auth.download_bulk_user_template', filename='bulk_user_template.csv') }}">download a template</a>
  </td></tr>
</table>

{% endblock %}
