{% extends 'base.html.jinja' %}

{% block content %}

<h4>Change Password</h4>
<form title="change password" method="post">
    <fieldset>

        <div title="current password" class="form-group">
            <label class="form-label mt-4" for="current_password">Current Password</label>
            <input class="form-control" type="password" name="current_password" id="current_password" placeholder="Enter current password" required>
        </div>

        <div title="new password" class="form-group">
            <label class="form-label mt-4" for="new_password">New Password</label>
            <input class="form-control" type="password" name="new_password" id="new_password" placeholder="Enter new password" required>            
        </div>

        <div title="re-enter new password" class="form-group">
            <label class="form-label mt-4" for="reenter_new_password">Re-enter New Password</label>
            <input class="form-control" type="password" name="reenter_new_password" id="reenter_new_password" placeholder="Re-enter new password" required>            
        </div>

        <div title="submit" class="form-group mt-4">
            <input class="btn btn-primary" type="submit" value="Update">
        </div>
        
    </fieldset>
</form>

{% endblock %}