{% extends 'base.html' %}



{% block content %}

<label>Enter your email below to reset your password</label><hr>

  <form method="post">
    <fieldset>

      <div class="form-group">
        <label class="form-label mt-4" for="email">Email</label>
        <!-- <input type="email" name="email" id="email"> -->
        <input class="form-control" name="email" id="email" placeholder="Enter a unique email">  
      </div>
    
      <div class="form-group mt-4">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    
    </fieldset>
  </form>
  {% if display.warning_banner %}
  <br/><br/><br/><br/><br/><br/><hr/>
  {{ display.warning_banner }}
  {% endif %}
{% endblock %}


