{% extends 'base.html' %}



{% block content %}


{% if reset %}
<label>Enter your new password below</label><hr>

<form method="post">
  <fieldset>

    <div class="form-group">
      <label class="form-label mt-4" for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password" placeholder="Enter a new password">  
    </div>
  
    <div class="form-group mt-4">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
  
  </fieldset>
</form>

{% else %}

<label>Enter your email below to reset your password</label><hr>

  <form method="post">
    <fieldset>

      <div class="form-group">
        <label class="form-label mt-4" for="email">Email</label>
        <!-- <input type="email" name="email" id="email"> -->
        <input class="form-control" name="email" id="email" placeholder="Enter your email">  
      </div>
    
      <div class="form-group mt-4">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    
    </fieldset>
  </form>

{% endif %}

{% endblock %}


