{% extends 'base.html.jinja' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}


{% block content %}

<form title="login" method="post">
  <fieldset>
    <div title="username" class="form-group">
      <label class="form-label mt-4" for="username">Username</label>
      <input class="form-control" name="username" id="username" required>
    </div>
    <div title="password" class="form-group">
    <label class="form-label mt-4" for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" required>
    </div>

    <p style="padding-top: 10px;">{{config['pre_login_msg'] or ""}}</p>

    <div title="submit"  class="form-group mt-4">
    <input class="btn btn-primary" type="submit" value="Log In">
    </div>
  </fieldset>
</form>


<div style="padding-top: 10px;">
	<hr/>
  <a href="{{ url_for('auth.forgot_password') }}"><button type="button" class="btn btn-outline-success btn-sm">Forgot Password</button></a>
  {% if config['saml_enabled'] %}
  <a style="padding-left: 10px;" href="{{ url_for('auth.sso') }}"><button type="button" class="btn btn-outline-success btn-sm">Login with SSO</button></a>
  {% endif %} 
</div>


{% endblock %}

