{% extends 'base.html.jinja' %}

{% block content %}

<h4>Profile</h4>

<table role="presentation" title="user profile" class="table {{'text-dark' if not dark_mode else ''}}">
<tr title="username" ><td><b>Username</b></td><td style="width: 80%;">{{ profile_user.username }}</td></tr>
<tr title="email" ><td><b>Email</b></td><td style="width: 80%;"><span> {{ profile_user.email }}</span></td></tr>
<tr title="group" ><td><b>Group</b></td><td style="width: 80%;">{{ profile_user.group }}</td></tr>
<tr title="organization" ><td><b>Organization</b></td><td style="width: 80%;"><span>{{ profile_user.organization }}</span></td></tr>
<tr title="phone" ><td><b>Phone</b></td><td style="width: 80%;"><span>{{ profile_user.phone }}</span></td></tr>
<tr title="theme" ><td><b>Theme</b></td><td style="width: 80%;"><span>{{ profile_user.theme }}</span></td></tr>
{% if config['user_registration_fields'] is defined %}
{% for attribute in config['user_registration_fields'] %}
<tr title="{{attribute}}"><td><b>{{attribute | capitalize | replace("_", " ")}}</b></td><td style="width: 80%;">{{ user[attribute] }}</td></tr>
{% endfor %}
{% endif %}
</td></tr>
<tr title="created date"><td><b>Created</b></td><td style="width: 80%;">{{ profile_user.created_date }}</td></tr>
</table>

{% endblock %}