{% extends 'base.html.jinja' %}

{% block content %}
<div class="position-relative">
    <div title="edit profile" class="position-absolute top-0 end-0">
        <a class="justify-content-end" href="{{config['domain']}}/auth/profile/edit"><button type="button" class="btn btn-outline-success btn-sm">Edit Profile</button></a>
    </div>
</div>
<h4>Profile</h4>

<table role="presentation" title="user profile" class="table {{'text-dark' if not dark_mode else ''}}">
<tr title="username" ><td><b>Username</b></td><td style="width: 80%;">{{ user.username }}</td></tr>
<tr title="email" ><td><b>Email</b></td><td style="width: 80%;"><span> {{ user.email }}</span></td></tr>
<tr title="group" ><td><b>Group</b></td><td style="width: 80%;">{{ user.group }}</td></tr>
<tr title="organization" ><td><b>Organization</b></td><td style="width: 80%;"><span>{{ user.organization }}</span></td></tr>
<tr title="phone" ><td><b>Phone</b></td><td style="width: 80%;"><span>{{ user.phone }}</span></td></tr>
<tr title="theme" ><td><b>Theme</b></td><td style="width: 80%;"><span>{{ user.theme }}</span></td></tr>
{% if config['user_registration_fields'] is defined %}
{% for attribute in config['user_registration_fields'] %}
<tr title="{{attribute}}"><td><b>{{attribute | capitalize | replace("_", " ")}}</b></td><td style="width: 80%;">{{ stringify(user[attribute]) }}</td></tr>
{% endfor %}
{% endif %}
</td></tr>
<tr title="created date"><td><b>Created</b></td><td style="width: 80%;">{{ user.created_date }}</td></tr>
<tr title="created date"><td><b>Last Login</b></td><td style="width: 80%;">{{ user.last_login }}</td></tr>
<tr title="user submissions"><td><b>Submissions</b></td><td style="width: 80%;"><a href="{{config['domain']}}/submissions/user/{{ user.username }}">view here</a></td></tr>
<tr title="user documents_for_review"><td><b>Review</b></td><td style="width: 80%;"><a href="{{config['domain']}}/submissions/review/{{ user.username }}">view here</a> {%if notifications%} <span class="badge bg-primary">{{notifications}}{%endif%}</span></td></tr>
{% if config['enable_reports'] %}
<tr title="user reports"><td><b>Reports</b></td><td style="width: 80%;"><a href="{{config['domain']}}/reports">view here</a></td></tr>
{% endif %}
{% if config['enable_user_profile_api_key_aggregation'] %}
<tr title="api keys"><td><b>API Keys</b></td><td style="width: 100%;">{% for key in api_keys %}{{ key }}<br/><br/>{% endfor %}</td></tr>
{% endif %}
</table>

<hr/>
<h4>Change Password</h4>
<form title="change password" method="post">
    <fieldset>

        <div title="current password" class="form-group">
            <label class="form-label mt-4" for="current_password">Current Password</label>
            <input class="form-control" type="password" name="current_password" id="current_password" placeholder="Enter current password" required>
        </div>

        <div title="new password" class="form-group">
            <label class="form-label mt-4" for="new_password">New Password</label>
            <input class="form-control" type="password" name="new_password" id="new_password" placeholder="Enter new password" required>            
        </div>

        <div title="re-enter new password" class="form-group">
            <label class="form-label mt-4" for="reenter_new_password">Re-enter New Password</label>
            <input class="form-control" type="password" name="reenter_new_password" id="reenter_new_password" placeholder="Re-enter new password" required>            
        </div>

        <div title="submit" class="form-group mt-4">
            <input class="btn btn-primary" type="submit" value="Update">
        </div>
        
    </fieldset>
</form>
<div title="custom data" style="padding-top:10px;">
    {{custom_data}}
</div>

{% if log_data %}
<div title="user log" style="padding-top:10px;">
    <hr/>
    <h4>User Log</h4>

    <div class="list-group vh-100 scrollable overflow-auto table table-hover">
        {% for row in log_data %}
        <section class="list-group-item list-group-item-action disabled {{'bg-transparent text-dark' if not dark_mode else ''}}">{{ row }}</section>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}