{% extends 'base.html' %}

{% block content %}
<h4>Profile</h4>
<table>
<tr><td><b>Username</b>: {{ user.username }}</td></tr>
<tr><td><b>Email</b>: <span ondblclick="this.contentEditable=true;this.className='inEdit';" onblur="this.contentEditable=false;this.className='';" contenteditable="false" class=""> {{ user.email }}</span></td></tr>
<tr><td><b>Organization</b>: <span ondblclick="this.contentEditable=true;this.className='inEdit';" onblur="this.contentEditable=false;this.className='';" contenteditable="false" class="">{{ user.organization }}</span></td></tr>
<tr><td><b>Phone</b>: <span ondblclick="this.contentEditable=true;this.className='inEdit';" onblur="this.contentEditable=false;this.className='';" contenteditable="false" class="">{{ user.phone }}</span>
{% if display['user_registration_fields'] is defined %}
{% for attribute in display['user_registration_fields'] %}
<tr><td><b>{{attribute | capitalize}}</b>: {{ user[attribute] }}</td></tr>
{% endfor %}
{% endif %}

</td></tr>
<tr><td><b>Created</b>: {{ user.created_date }}</td></tr>
</table>
<hr/>
<h4>Change Password</h4>
<form method="post">
    <fieldset>

        <div class="form-group">
            <label class="form-label mt-4" for="current_password">Current Password</label>
            <input class="form-control" type="password" name="current_password" id="current_password" placeholder="Enter current password" required>
        </div>

        <div class="form-group">
            <label class="form-label mt-4" for="new_password">New Password</label>
            <input class="form-control" type="password" name="new_password" id="new_password" placeholder="Enter new password" required>            
        </div>

        <div class="form-group mt-4">
            <input class="btn btn-primary" type="submit" value="Update">
        </div>
        
    </fieldset>
</form>

{% endblock %}