{% extends 'base.html' %}



{% block content %}
  <form method="post">
    <fieldset>

      <div class="form-group">
        <label class="form-label mt-4 required" for="username">Username</label>
        <input class="form-control" name="username" id="username" placeholder="Enter a unique username"{%if edit_profile%} value="{{user.username}}" disabled=""{%endif%} required>
      </div>

      <div class="form-group">
        <label class="form-label mt-4{%if config['registration_email_required'] %} required{%endif%}" for="email">Email</label>
        <!-- <input type="email" name="email" id="email"> -->
        <input class="form-control" name="email" id="email" placeholder="Enter a unique email"{%if edit_profile%} value="{{user.email}}" disabled=""{%endif%}{%if config['registration_email_required'] %} required{%endif%}>  
      </div>

      <div class="form-group">
        <label class="form-label mt-4{%if config['registration_organization_required'] %} required{%endif%}" for="organization">Organization</label>
        <input class="form-control" name="organization" {% if config.default_org != ""  %} value="{{ config.default_org }}" {% else %} placeholder="Enter your organization" {% endif %}id="organization"{%if edit_profile%} value="{{user.organization}}"{%endif%}{%if config['registration_organization_required'] %} required{%endif%}>  
      </div>
      
      <div class="form-group">
        <label class="form-label mt-4{%if config['registration_phone_required'] %} required{%endif%}" for="phone">Phone</label>
        <!-- <input type="tel" name="phone" id="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"> -->
        <input class="form-control" name="phone" id="phone" placeholder="Enter your phone number"{%if edit_profile%} value="{{user.phone}}"{%endif%}{%if config['registration_phone_required'] %} required{%endif%}>  
      </div>

      {% if config['user_registration_fields'] is defined %}

      {% for attribute in config['user_registration_fields'].keys() %}

      {% if config['user_registration_fields'][attribute].input_type == "hidden" %}



      {% elif config['user_registration_fields'][attribute].input_type == "autocomplete" %}
      <div class="form-group autocomplete">
        <label class="form-label mt-4{% if config['user_registration_fields'][attribute].required==true %} required{% endif %}" for="{{ attribute }}" {% if config['user_registration_fields'][attribute].description %}data-bs-toggle="tooltip" data-bs-placement="right" title="{{config['user_registration_fields'][attribute].description}}"{% endif %}>{{ attribute | replace('_', ' ') | capitalize}}</label>
        <input class="form-control" type="text" value="" id="{{ attribute }}" name="{{ attribute }}"{%if edit_profile%} value="{{user[attribute]}}{%endif%}{% if config['user_registration_fields'][attribute].required==true %} required{% endif %}/>
      </div>

      <script>
        /*An array containing all values passed for this field:*/
        var {{ attribute }} = {{ config['user_registration_fields'][attribute].content | safe }};
        autocomplete(document.getElementById("{{ attribute }}"), {{ attribute }});
      </script>

      {% elif config['user_registration_fields'][attribute].input_type == "select" %}
      <div class="form-group">
        <label class="form-label mt-4{% if config['user_registration_fields'][attribute].required==true %} required{% endif %}" for="{{ attribute }}" {% if config['user_registration_fields'][attribute].description %}data-bs-toggle="tooltip" data-bs-placement="right" title="{{config['user_registration_fields'][attribute].description}}"{% endif %}>{{ attribute | replace('_', ' ') | capitalize}}</label>
        <select name="{{ attribute }}" class="form-select" {% if config['user_registration_fields'][attribute].required==true %}required{% endif %}>
        {% for item in config['user_registration_fields'][attribute].content %}
            <option value="{{ item }}" id="{{ field }} {{ item }}" name="{{ attribute }}"{%if edit_profile and user[attribute] and item in user[attribute]%} selected="selected" {%endif%}>{{ item }}</option>
        {% endfor %}
        </select>
      </div>
      {% elif config['user_registration_fields'][attribute].input_type == "radio" or config['user_registration_fields'][attribute].input_type == "checkbox" %}
      <div class="form-group">
        <label class="form-label mt-4{% if config['user_registration_fields'][attribute].required==true %} required{% endif %}" for="" {% if config['user_registration_fields'][attribute].description %}data-bs-toggle="tooltip" data-bs-placement="right" title="{{config['user_registration_fields'][attribute].description}}"{% endif %}>{{ attribute | replace('_', ' ') | capitalize}}</label>
        {% for item in config['user_registration_fields'][attribute].content %}
        <div class="form-check">
          <label class='form-check-label' for="{{ attribute }} {{ item }}">{{ item }}
            <input class="form-check-input" style="{{'border: 1px solid;' if not dark_mode else ''}}" type="{{ config['user_registration_fields'][attribute].input_type }}" value="{{ item }}" id="{{ attribute }} {{ item }}" name="{{ attribute }}" {%if edit_profile and user[attribute] and item in user[attribute]%} checked="checked" {%endif%}/>
          </label>
        </div>
        {% endfor %}
      </div>

      {% else %}
      <div class="form-group">
        <label class="form-label mt-4" for="{{attribute}}">{{attribute | capitalize}}</label>
        <input class="form-control" name="{{attribute}}" value="" id="{{attribute}}">  
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      

      {%if not edit_profile%}
      <div class="form-group">
        <label class="form-label mt-4" for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Enter a password" required>  
      </div>

      {% else %}
      <div class="form-group">
        <label class="form-label mt-4 required" for="theme" data-bs-toggle="tooltip" data-bs-placement="right" title="Select a theme to view this application">Theme</label>
        <select name="theme" class="form-select" required>
            <option value="light" id="theme light" name="light" {%if edit_profile and user.theme == 'light' %} selected="selected" {%endif%}>Light</option>
            <option value="dark" id="theme dark" name="dark" {%if edit_profile and user.theme == 'dark' %} selected="selected" {%endif%}>Dark</option>
        </select>
      </div>
      {% endif %}

      {% if config['enable_hcaptcha'] and not edit_profile %}
      <br><div class="h-captcha" data-theme="{{'dark' if dark_mode else 'light'}}" data-sitekey="{{ config['hcaptcha_site_key'] }}"></div>
      {% endif %}


      <div class="form-group mt-4">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    
    </fieldset>
  </form>
{% endblock %}


