{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" placeholder="Enter a unique username" required>
    <label for="email">Email</label>
    <!-- <input type="email" name="email" id="email"> -->
    <input name="email" id="email" placeholder="Enter a unique email">
    <label for="organization">Organization</label>
    <input name="organization" {% if display.default_org != ""  %} value="{{ display.default_org }}" {% else %} placeholder="Enter your organization" {% endif %}id="organization">
    <label for="phone">Phone</label>
    <!-- <input type="tel" name="phone" id="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"> -->
    <input name="phone" id="phone" placeholder="Enter your phone number">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter a password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}