[Unit]
Description=libreForms gunicorn daemon
After=network.target

[Service]
User=libreforms
Group=libreforms
WorkingDirectory=/opt/libreForms/
Environment="PATH=/opt/libreForms/venv/bin"
ExecStart=/opt/libreForms/venv/bin/gunicorn --bind 0.0.0.0:8000 wsgi:app --config /opt/libreForms/gunicorn/gunicorn.conf.py

[Install]
WantedBy=multi-user.target
