[Unit]
Description=libreForms gunicorn daemon
After=network.target

[Service]
User=libreforms
Group=libreforms
WorkingDirectory=/opt/libreForms/
Environment="PATH=/opt/libreForms/venv/bin"
ExecStart=/opt/libreForms/venv/bin/gunicorn 'app:create_app()' --config /opt/libreForms/gunicorn/gunicorn.conf.py

[Install]
WantedBy=multi-user.target
