[Unit]
Description=libreForms celerybeat daemon
After=network.target

[Service]
User=libreforms
Group=libreforms
WorkingDirectory=/opt/libreForms/
Environment="PATH=/opt/libreForms/venv/bin"
ExecStart=/opt/libreForms/venv/bin/celery -A app.celery beat --loglevel=info --logfile=/opt/libreForms/log/celerybeat.log
Restart=always

[Install]
WantedBy=multi-user.target
