{% extends 'base.html.jinja' %}



{% block content %}

<label>Upload a CSV file with a list of the users you want to add</label><hr>

<form title="bulk upload" method = "POST" enctype = "multipart/form-data">

  <div title="upload users" class="form-group">
    <label class="form-label mt-4 required" for="file">Upload</label>
    <input class="form-control" type = "file" name = "file" />
  </div>

    <div title="submit" class="form-group mt-4">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form>

<div style="padding-top: 10px;">
<hr/>
<table role="presentation" title="download user template" >
  <tr><td>
  <a href="{{ url_for('auth.download_bulk_user_template', filename='bulk_user_template.csv') }}"><button type="button" class="btn btn-outline-success btn-sm">download a template</button></a>
  </td></tr>
</table>
</div>

{% endblock %}
