{% extends 'base.html.jinja' %}
{% block content %}

<h4>Documentation</h4>

<form method="POST">
    <div title="docs_input" class="form-group">
        <textarea id="docs_input" name="docs_body" rows="10" cols="80">{{ docs_body }}</textarea>
    </div>

    <div title="submit" class="form-group">
        <input class="btn btn-primary mt-4" id="form-button-submit" type=submit value="Save">
    </div>

</form>


<!-- Future requirement: image upload -->
<!-- <form method="POST" enctype="multipart/form-data">
    <input type="file" name="image">
    <input type="submit" value="Upload">
</form> -->


<!-- Preview Area -->
<hr style="margin-top: 10px;">
<h4>Preview</h4>
<div id="docs_preview"></div>

<!-- JavaScript to update the preview -->
<script>
document.getElementById('docs_input').addEventListener('input', function() {
    // Mimicking the replace_img_links behavior in JS
    var newContent = this.value.replace(/src="/g, 'src="/docs/images/');
    
    // Use innerHTML to set the content of the preview div
    // This will interpret the HTML in the textarea
    document.getElementById('docs_preview').innerHTML = newContent;
    
});

</script>


{% endblock %}