{% extends 'base.html.jinja' %}
{% block content %}


<h4>Forms</h4>
<form action="" method="post">
<div title="forms" class="form-group">
    <select name="form" onChange="this.form.submit()" class="form-select" required>
        <option value="*all forms*" id="*all forms*" name="*all forms*">*all forms*</option>
        {%for form in form_list%}
        <option value="{{form}}" id="{{form}}" name="{{form}}" {%if form_selected == form %} selected="selected" {%endif%}>{{form}}</option>
        {%endfor%}
    </select>
</div>
</form>

<div style='padding-top:10px;' class="list-group vh-60 scrollable overflow-auto table table-hover">

    <table role="presentation" title="form table" class="table {{'text-dark' if not dark_mode else 'table-hover'}}">
        <tbody>
            <tr>
                <th>Form</th>
                <th>Document ID</th>
                <th>Summary</th>
                <th>Owner</th>
                <th>Last Edited</th>
            </tr>

        {% for index, row in form_data.iterrows() %}
            <tr class="table{% if emphasize and item in emphasize %}-secondary{% else %}{{'-dark' if dark_mode else '-transparent'}}{% endif %}">

                <td>{{ row.form }}</td>
                <td>
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" data-bs-placement="right" role="button" aria-haspopup="true" aria-expanded="false" href="#">{{ row.id }}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{url_for('submissions.render_document',form_name=row.form, document_id=row.id)}}">View Form</a>
                    </div> 
                </td>
                <td>{{ row.content_summary }}</td>
                <td>{{ row.owner }}</td>
                <td>{{ row.time_since_last_edit }}</td>
            
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
