{% extends 'base.html.jinja' %}
{% block content %}

<form action="" method="post">
<div title="enable_user_profile_log_aggregation" class="form-group">
    <label class="form-label mt-4 required" for="enable_user_profile_log_aggregation" data-bs-toggle="tooltip" data-bs-placement="right" title="Select whether you'd like users to see logs in their profiles">Show logs in user profiles</label>
    <select name="enable_user_profile_log_aggregation" onChange="this.form.submit()" class="form-select" required>
        <option value="yes" id="yes" name="yes" {%if config['enable_user_profile_log_aggregation'] %} selected="selected" {%endif%}>Yes</option>
        <option value="no" id="no" name="no" {%if not config['enable_user_profile_log_aggregation'] %} selected="selected" {%endif%}>No</option>
    </select>
</div>
<hr/>
<div title="users" class="form-group">
    <label class="form-label mt-4 required" for="user" data-bs-toggle="tooltip" data-bs-placement="right" title="Select a user whose logs you'd like to review">User</label>
    <select name="user" onChange="this.form.submit()" class="form-select" required>
        <option value="*all logs*" id="*all logs*" name="*all logs*">*all logs*</option>
        {%for user in user_list%}
        <option value="{{user}}" id="{{user}}" name="{{user}}" {%if user_selected == user %} selected="selected" {%endif%}>{{user}}</option>
        {%endfor%}
    </select>
</div>

</form>

{% if log_data %}
<div title="user_log" style="padding-top: 10px;">
    <hr/>
    <h4>Log Data</h4>

    <div class="list-group vh-100 scrollable overflow-auto table table-hover">
        {% for row in log_data %}
        <section class="list-group-item list-group-item-action disabled {{'bg-transparent text-dark' if not dark_mode else ''}}">{{ row }}</section>
        {% endfor %}
    </div>
</div>
{%endif%}


{% endblock %}
