{% extends 'base.html.jinja' %}
{% block content %}


<h4>Restart Application</h4>

<p>This system was last restarted at: <code>{{config.last_restart}} ({{uptime}})</code></p>

<p>Click the link below to restart the web application.</p>

<form action="" method="post">
    <div title="restart app" class="form-group">
        <input class="btn btn-primary" type="submit" value="Restart Application" onClick="this.form.submit(); this.disabled=true; this.value='Restarting...';">
    </div>
</form>


{% endblock %}
