{% extends 'base.html.jinja' %}
{% block content %}

  
<h4>Users</h4>
<div class="list-group vh-100 scrollable overflow-auto table table-hover">

    <table role="presentation" title="user table" class="table {{'text-dark' if not dark_mode else 'table-hover'}}">
        <tbody>
            <tr>
                <th>id</th>
                <th>email</th>
                <th>username</th>
                <th>group</th>
                <th>organization</th>
                <th>phone</th>
                <th>active</th>
                <th>created date</th>
                <th>last login</th>
            </tr>

        {% for row in user_list %}
            <tr class="table{% if emphasize and item in emphasize %}-secondary{% else %}{{'-dark' if dark_mode else '-transparent'}}{% endif %}">

                <td>{{ row.id }}</td>
                <td>{{ row.email }}</td>
                <td>
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" data-bs-placement="right" role="button" aria-haspopup="true" aria-expanded="false" href="#">{{ row.username }}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{url_for('auth.other_profiles',username=row.username)}}">View User</a>
                        <a class="dropdown-item" href="{{url_for('admin.edit_profile',username=row.username)}}">Edit User Profile</a>
                        <a class="dropdown-item" href="{{url_for('admin.toggle_user_active_status', username=row.username)}}">{{"Deactivate" if row.active else "Activate"}} User</a>
                        <a class="dropdown-item" href="{{url_for('admin.generate_random_password', username=row.username)}}">Reset Password</a>
                        <a class="dropdown-item" href="{{url_for('admin.generate_api_key', username=row.username)}}">Generate API key</a>

                        <form action="{{ url_for('admin.modify_user_group', username=row.username) }}" method="post" class="dropdown-item">
                            <div class="row">
                                <label for="group-input-{{ row.username }}" class="col-form-label col-4">Change Group</label>
                                <div class="col-8">
                                    <input type="text" id="group-input-{{ row.username }}" name="group" value="{{ row.group }}" onkeyup="submitOnEnter(event, this.form)" class="form-control" placeholder="Enter new group">
                                </div>
                            </div>
                        </form>
                    </div> 
                </td>
                <td>{{ row.group }}</td>
                <td>{{ row.organization }}</td>
                <td>{{ row.phone }}</td>
                <td>{{ row.active }}</td>
                <td>{{ row.created_date }}</td>
                <td>{{ row.last_login }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}


{% block js %}
<script>
    function submitOnEnter(event, form) {
        // if the key pressed was "Enter"
        if (event.key === "Enter") {
            // prevent the default action (form submission)
            event.preventDefault();
            // submit the form
            form.submit();
        }
    }
</script>
{% endblock %}