{% extends 'base.html' %}
{% block body %}
	<div class="container-fluid">
	  <div class="row content">
		<div class="col-sm-3 hidden-xs">
		  <h3>{{ name }}  <small class="text-muted">{% if context %}form{% elif is_table %}table{% elif graphJSON %}dashboard{% elif homepage_msg %}home{% endif %}</small></h3><hr/>
		  <ul class="nav nav-pills nav-stacked">
			{% for item in menu %}
			<li {% if name == item %}class="active"{% endif %}><a href="{{ url_for( type, form_name=item ) }}">{{ item }}</a></li>
			{% endfor %}
		    <!-- <small class="text-muted">Application written by Sig Janoska-Bedi</small><br/> -->
		  </ul>
		</div>
		<br>
		<div class="col-sm-9">
		  <div class="well">
			{% if context %}
			<form method=post>
			  <table>

			    {% for field in context.keys() %}
				{% if context[field].input_field.type == "radio" or context[field].input_field.type == "checkbox" %}
				<tr>
					<td><label for="">{{ field | replace('_', ' ')}}</label></td>
					<td>
					{% for item in context[field].input_field.content %}
					<input type="{{ context[field].input_field.type }}" value="{{ item }}" id="{{ field }} {{ item }}" name="{{ field }}" {% if context[field].output_data.required==true %}required{% endif %}/><label for="">{{ item }}</label>
					{% endfor %}
					</td>
				</tr>
				{% elif context[field].input_field.type == "hidden" %}
				{% else %}
				<tr>
				  <td><label for="{{ field }}">{{ field | replace('_', ' ')}}</label></td>
				  <td><input type="{{ context[field].input_field.type }}" value="{{ context[field].input_field.content[0] }}" id="{{ field }}" name="{{ field }}" {% if context[field].output_data.required==true %}required{% endif %}/></td>
				</tr>
				{% endif %}
				{% endfor %}

				<tr><td><input type=submit value=Submit></td></tr>
			  </table>
			</form>
			{% endif %}
		    {% if homepage_msg %}
			  {{ homepage_msg }}
		    {% endif %}
		    {% if form_not_found %}
			    Form not found, go <a href="{{ url_for( 'home' ) }}">home</a>. {% if msg %}{{ msg }}{% endif %}
		    {% endif %}
		    {% with messages = get_flashed_messages() %}
			{% if messages %}
			  <br/>
			  <div style="height: auto; resize: none;" class='well' id='form_data'>
			    <dl class=flashes>
			    {% for message in messages %}
			      {{ message }}
			    {% endfor %}
			    </dl>
			  </div>
			{% endif %}
		    {% endwith %}
	    	{% if graphJSON %}
			  <div id='chart' class='chart'”></div>
			{% endif %}
			{% if is_table %}
			  {{ table.to_html(index=False) | safe}}
			{% endif %}		
		  </div>
	    </div>
	  </div>
	</div>
	{% if graphJSON %}
	<script src="{{ url_for('static', filename='plotly-v1.58.5.min.js') }}"></script>
	<script type='text/javascript'>
		var graphs = {{graphJSON | safe}};
		Plotly.plot('chart',graphs,{});
	</script>
	{% endif %}
{% endblock %}
