{% extends 'base.html' %}

{% block content %}


			{% if homepage %}
			  {{ display.homepage_msg }}
		    {% endif %}
		    {% if msg %}
			  {{ msg }}
		    {% endif %}
		    {% if form_not_found %}
			    <p>Go <a href="{{ url_for( 'home' ) }}">home</a>.</p>
		    {% endif %}
	    	{% if graphJSON %}
			  <div id='chart' class='chart'”></div>
			{% endif %}
			
{% endblock %}


{% block addons %}
{% if graphJSON %}
<script type='text/javascript'>
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});
</script>
{% endif %}
{% endblock %}
