{% extends 'base.html.jinja' %}

{% block content %}


			{% if homepage %}
			  {{ config.homepage_msg }}

		    {% elif form_not_found %}
			    <p>Go <a href="{{ url_for( 'home' ) }}">home</a>.</p>

	    	{% else %}
			{% for graph in graphJSON %}
			<div title="visualization {{loop.index}}" id='chart-{{loop.index}}' class='chart'”></div>
			<div style="padding: 10px;"></div>
			{% endfor %}	  
			{% endif %}
			
{% endblock %}


{% block addons %}
{% if not homepage and not form_not_found %} 
{% for graph in graphJSON %}
<script type='text/javascript'>
    Plotly.plot('chart-{{loop.index}}',{{graph | safe}},{});
</script>
{% endfor %}
{% endif %}
{% endblock %}
