{% extends 'base.html.jinja' %}
{% block content %}



{% if context %}	
<h4>{{options._display_name}}</h4>
<form method="post" autocomplete="off">
	<fieldset>
		{% if options._description %}<label>{{ options._description }}
			{% if config['enable_audio_accessibility'] %}
			<button type="button" alt="audio accessibility {{subtitle}} description" class="btn btn-outline-success btn-sm" style="margin-left:2px; font-size:0.9em;" onClick="play( 'audio_{{subtitle}}__description' )">listen</button>
			{# <img src="{{ url_for( 'static', filename='audio_dark.png' if dark_mode else 'audio_light.png' ) }}" alt="audio accessibility {{subtitle}} description" style="padding-left:2px; max-width:1.5%; height: auto;" class="{{subtitle}}__description" onClick="play( 'audio_{{subtitle}}__description' )">  #}
			<audio id="audio_{{subtitle}}__description" src="{{url_for (config['path_to_accessibility_audio'], filename=subtitle+'__description.mp3') }}"></audio>
			{%endif%}
		</label><hr>{% endif %}
		{% for field in context.keys() %}

		{# here we assign a local variable called 'content' which either pulls a list of users or the regular field content #}
		{% if context[field].input_field.lookup == "user_list" %}
		{% set content = user_list %}
		{% else %}
		{% set content = context[field].input_field.content %}
		{% endif %}

		{% if editing_existing_form and context[field]['input_field']['type'] == 'hidden' and context[field]['_make_visible_in_edits'] and context[field]['_secondary_input_type'] %}
			{% set input_type = context[field]['_secondary_input_type'] %}
		{% else %}
			{% set input_type = context[field]['input_field']['type'] %}
		{% endif %}

		{# here we override the default value with overrides if default_overrides was passed #}
		{% set other_field_override = false %}
		{% if default_overrides and field in default_overrides %}
			{% set default_value = default_overrides[field] %}
			{% if default_value not in context[field].input_field.content %}
				{% set other_field_override = true %}
			{% endif %}
		{% else %}
			{% if context['_suppress_default_values'] == true or context[field].input_field.type in ['checkbox', 'radio', 'autocomplete'] %}
				{% set default_value = '' %}
			{% else %}
				{% set default_value = context[field].input_field.content[0] %}
			{% endif %}
		{% endif %}


		{% if 'apparent_content' in context[field].input_field %}
			{% set apparent_values = context[field].input_field.apparent_content %}
		{% else %}
			{% set apparent_values = context[field].input_field.content %}
		{% endif %}


		{% if input_type == "autocomplete" %}

		<div title="{{field}}" class="form-group autocomplete{% if context[field]['_depends_on'] %} {{ context[field]['_depends_on'][0] }}{% endif %}">
			<label class="form-label mt-4{% if context[field].output_data.required==true %} required{% endif %}" for="{{ field }}" {% if context[field].output_data.description %}aria-describedby="{{field}}HelpInline"{% endif %}>{{ field | replace('_', ' ')}}</label>
			{% if context[field].output_data.description %}
		    <span id="{{field}}HelpInline" class="form-text">
			{% if context[field].output_data.required==true %}Required. {%endif%}
				{{context[field].output_data.description}}
			</span>
			{%endif%}

			{% if config['enable_audio_accessibility'] %}
			<sup><button type="button" alt="audio accessibility {{subtitle}} {{field}} description" class="btn btn-outline-success btn-sm" style="margin-left:2px; font-size:0.9em;" onClick="play( 'audio_{{subtitle}}_{{field}}' )">listen</button></sup>
			{# <img src="{{ url_for( 'static', filename='audio_dark.png' if dark_mode else 'audio_light.png' ) }}" alt="audio accessibility {{subtitle}} {{field}}" style="padding-left:2px; max-width:1.5%; height: auto;" class="{{subtitle}}_{{field}}" onClick="play( 'audio_{{subtitle}}_{{field}}' )">  #}
			<audio id="audio_{{subtitle}}_{{field}}" src="{{url_for (config['path_to_accessibility_audio'], filename=subtitle+'_'+field+'.mp3') }}"></audio>
			{%endif%}
			<input class="form-control" onchange="validateFields('{{subtitle}}', '{{field}}', this.value, this.id);" type="text" value="{{default_value}}" id="{{ field }}" name="{{ field }}" {% if context[field].output_data.required==true %}required{% endif %}/>
			<div class="valid-feedback" id="{{field}}-is-valid">This field is valid!</div>
			<div class="invalid-feedback" id="{{field}}-is-invalid">This field is invalid!</div>    
		</div>

		<script>
			/*An array containing all values passed for this field:*/
			var {{ field }} = {{ content | safe }};
			autocomplete(document.getElementById("{{ field }}"), {{ field }});
		</script>
	
		{% elif input_type == "select" %}
		<div title="{{field}}" class="form-group{% if context[field]['_depends_on'] %} {{ context[field]['_depends_on'][0] }}{% endif %}">
			<label class="form-label mt-4{% if context[field].output_data.required==true %} required{% endif %}" for="{{ field }}" {% if context[field].output_data.description %}aria-describedby="{{field}}HelpInline"{% endif %}>{{ field | replace('_', ' ')}}</label>
			{% if context[field].output_data.description %}
		    <span id="{{field}}HelpInline" class="form-text">
			{% if context[field].output_data.required==true %}Required. {%endif%}
				{{context[field].output_data.description}}
			</span>
			{%endif%}

			{% if config['enable_audio_accessibility'] %}
			<sup><button type="button" alt="audio accessibility {{subtitle}} {{field}} description" class="btn btn-outline-success btn-sm" style="margin-left:2px; font-size:0.9em;" onClick="play( 'audio_{{subtitle}}_{{field}}' )">listen</button></sup>
			{# <img src="{{ url_for( 'static', filename='audio_dark.png' if dark_mode else 'audio_light.png' ) }}" alt="audio accessibility {{subtitle}} {{field}}" style="padding-left:2px; max-width:1.5%; height: auto;" class="{{subtitle}}_{{field}}" onClick="play( 'audio_{{subtitle}}_{{field}}' )">  #}
			<audio id="audio_{{subtitle}}_{{field}}" src="{{url_for (config['path_to_accessibility_audio'], filename=subtitle+'_'+field+'.mp3') }}"></audio>
			{%endif%}
			<select name="{{ field }}" class="form-select" {% if '_lookup_other_document' in context[field] %}onChange = "generateLookup(this.form.{{field}}.value,'{{context[field]['_lookup_other_document']}}', 'content_{{field}}');"{%endif%} {% if context[field].output_data.required==true %}required{% endif %}>
			{% for item in content %}
					<option value="{{ item }}" id="{{ field }} {{ item }}" name="{{ field }}" {%if item == default_value%}selected="selected"{%endif%}>{{ apparent_values[loop.index0] }}</option>
			{% endfor %}
			{% if '_lookup_other_document' in context[field] %}
			<script>
			window.onload = function() {
				generateLookup(document.getElementsByName('{{field}}')[0].value, '{{context[field]['_lookup_other_document']}}', 'content_{{field}}');
			};			</script>
			{%endif%}
			</select>

			{% if '_lookup_other_document' in context[field] %}
			<div>
			<div id= "content_{{field}}" style="width: 100%; height: 300px; overflow-y: auto; resize: vertical; margin-top: 10px; border: 2px solid var(--bs-secondary);"></div>
			<div>
			{%endif%}

		</div>
		{% elif input_type == "radio" %}
		<div title="{{field}}" class="form-group{% if context[field]['_depends_on'] %} {{ context[field]['_depends_on'][0] }}{% endif %}">
			<label class="form-label mt-4{% if context[field].output_data.required==true %} required{% endif %}" for="" {% if context[field].output_data.description %}aria-describedby="{{field}}HelpInline"{% endif %}>{{ field | replace('_', ' ')}}</label>
			{% if context[field].output_data.description %}
		    <span id="{{field}}HelpInline" class="form-text">
			{% if context[field].output_data.required==true %}Required. {%endif%}
				{{context[field].output_data.description}}
			</span>
			{%endif%}

			{% if config['enable_audio_accessibility'] %}
			<sup><button type="button" alt="audio accessibility {{subtitle}} {{field}} description" class="btn btn-outline-success btn-sm" style="margin-left:2px; font-size:0.9em;" onClick="play( 'audio_{{subtitle}}_{{field}}' )">listen</button></sup>
			{# <img src="{{ url_for( 'static', filename='audio_dark.png' if dark_mode else 'audio_light.png' ) }}" alt="audio accessibility {{subtitle}} {{field}}" style="padding-left:2px; max-width:1.5%; height: auto;" class="{{subtitle}}_{{field}}" onClick="play( 'audio_{{subtitle}}_{{field}}' )">  #}
			<audio id="audio_{{subtitle}}_{{field}}" src="{{url_for (config['path_to_accessibility_audio'], filename=subtitle+'_'+field+'.mp3') }}"></audio>
			{%endif%}
			{% for item in content %}
			<div class="form-check">
				<label class='form-check-label' for="{{ field }} {{ item }}">{{ item }}
					<input class="form-check-input" style="{{'border: 1px solid;' if not dark_mode else ''}}" type="radio" {% if '_lookup_other_document' in context[field] %}onChange = "generateLookup(this.form.{{field}}.value,'{{context[field]['_lookup_other_document']}}', 'content_{{field}}');"{%endif%} value="{{ apparent_values[loop.index0] }}" id="{{ field }} {{ item }}" name="{{ field }}"  {%if item == default_value%}checked="checked"{%endif%}/>
				</label>
			</div>
			{% endfor %}
			{% if 'allow_other' in context[field].input_field and context[field].input_field['allow_other']%}
			<div class="form-check">
				<label>
					<input class="form-check-input" style="{{'border: 1px solid;' if not dark_mode else ''}}" type="radio" value="" id="_{{ field }} Other" name="{{ field }}" {%if other_field_override %}checked="checked"{%endif%}> Other
					<input type="text" name="" class="form-control" id="" {%if other_field_override %}value='{{default_value}}'{%endif%} onChange="populateOther('_{{ field }} Other', this.value)" placeholder="Enter other option here" />
				</label>
			</div>
			{%endif%}
			{% if '_lookup_other_document' in context[field] %}
			<div id= "content_{{field}}" style="width: 100%; height: 300px; overflow-y: auto; resize: vertical; margin-top: 10px; border: 2px solid var(--bs-secondary);"></div>
			{%endif%}
		</div>
		{% elif input_type == "checkbox" %}
		<div title="{{field}}" class="form-group{% if context[field]['_depends_on'] %} {{ context[field]['_depends_on'][0] }}{% endif %}">
			<label class="form-label mt-4{% if context[field].output_data.required==true %} required{% endif %}" for="" {% if context[field].output_data.description %}aria-describedby="{{field}}HelpInline"{% endif %}>{{ field | replace('_', ' ')}}</label>
			{% if context[field].output_data.description %}
		    <span id="{{field}}HelpInline" class="form-text">
			{% if context[field].output_data.required==true %}Required. {%endif%}
				{{context[field].output_data.description}}
			</span>
			{%endif%}

			{% if config['enable_audio_accessibility'] %}
			<sup><button type="button" alt="audio accessibility {{subtitle}} {{field}} description" class="btn btn-outline-success btn-sm" style="margin-left:2px; font-size:0.9em;" onClick="play( 'audio_{{subtitle}}_{{field}}' )">listen</button></sup>
			{# <img src="{{ url_for( 'static', filename='audio_dark.png' if dark_mode else 'audio_light.png' ) }}" alt="audio accessibility {{subtitle}} {{field}}" style="padding-left:2px; max-width:1.5%; height: auto;" class="{{subtitle}}_{{field}}" onClick="play( 'audio_{{subtitle}}_{{field}}' )">  #}
			<audio id="audio_{{subtitle}}_{{field}}" src="{{url_for (config['path_to_accessibility_audio'], filename=subtitle+'_'+field+'.mp3') }}"></audio>
			{%endif%}
			{% for item in content %}
			<div class="form-check">
				<label class='form-check-label' for="{{ field }} {{ item }}">{{ item }}
					<input class="form-check-input" style="{{'border: 1px solid;' if not dark_mode else ''}}" type="checkbox"{% if '_lookup_other_document' in context[field] %} onChange = "generateLookup(this.form.{{field}}.value,'{{context[field]['_lookup_other_document']}}', 'content_{{field}}');"{%endif%} value="{{ apparent_values[loop.index0] }}" id="{{ field }} {{ item }}" name="{{ field }}"  {%if item in default_value%}checked="checked"{%endif%}/>
				</label>
			</div>
			{% endfor %}
			{% if 'allow_other' in context[field].input_field and context[field].input_field['allow_other']%}
			<div class="form-check">
				<label>
					<input class="form-check-input" style="{{'border: 1px solid;' if not dark_mode else ''}}" type="checkbox" value="" id="_{{ field }} Other" name="{{ field }}" {%if other_field_override %}checked="checked"{%endif%}> Other
					<input type="text" name="" {%if other_field_override %}value='{{default_value}}'{%endif%} class="form-control" id="" onChange="populateOther('_{{ field }} Other', this.value)" placeholder="Enter other option here" />
				</label>
			</div>
			{%endif%}
			{% if '_lookup_other_document' in context[field] %}
			<div id= "content_{{field}}" style="width: 100%; height: 300px; overflow-y: auto; resize: vertical; margin-top: 10px; border: 2px solid var(--bs-secondary);"></div>
			{%endif%}
		</div>
		{% elif input_type == "hidden" %}
		<div title="{{field}}" class="form-group{% if context[field]['_depends_on'] %} {{ context[field]['_depends_on'][0] }}{% endif %}">
			<input class="form-control" type="hidden" value="{{ default_value }}" id="{{ field }}" name="{{ field }}"/>
		</div>

		{% elif input_type == "immutable_user_field" %}
		{% if current_user.is_authenticated %}
		<div title="{{field}}" class="form-group{% if context[field]['_depends_on'] %} {{ context[field]['_depends_on'][0] }}{% endif %}">
			<label class="form-label mt-4{% if context[field].output_data.required==true %} required{% endif %}" for="{{ field }}" {% if context[field].output_data.description %}aria-describedby="{{field}}HelpInline"{% endif %}>{{ field | replace('_', ' ')}}</label>
			{% if context[field].output_data.description %}
		    <span id="{{field}}HelpInline" class="form-text">
			{% if context[field].output_data.required==true %}Required. {%endif%}
				{{context[field].output_data.description}}
			</span>
			{%endif%}
			{% if config['enable_audio_accessibility'] %}
			<sup><button type="button" alt="audio accessibility {{subtitle}} {{field}} description" class="btn btn-outline-success btn-sm" style="margin-left:2px; font-size:0.9em;" onClick="play( 'audio_{{subtitle}}_{{field}}' )">listen</button></sup>
			{# <img src="{{ url_for( 'static', filename='audio_dark.png' if dark_mode else 'audio_light.png' ) }}" alt="audio accessibility {{subtitle}} {{field}}" style="padding-left:2px; max-width:1.5%; height: auto;" class="{{subtitle}}_{{field}}" onClick="play( 'audio_{{subtitle}}_{{field}}' )">  #}
			<audio id="audio_{{subtitle}}_{{field}}" src="{{url_for (config['path_to_accessibility_audio'], filename=subtitle+'_'+field+'.mp3') }}"></audio>
			{%endif%}
			<input class="form-control" type="text" value="{{ current_user|attr(default_value) if not editing_existing_form else default_value }}"disabled=""/>
			<input class="form-control" type="hidden" value="{{ current_user|attr(default_value) if not editing_existing_form else default_value }}" id="{{ field }}" name="{{ field }}"/>
		</div>
		{% endif %}

		{% elif input_type == "resizable_textarea" %}
		<div title="{{field}}" class="form-group{% if context[field]['_depends_on'] %} {{ context[field]['_depends_on'][0] }}{% endif %}">
			<label class="form-label mt-4{% if context[field].output_data.required==true %} required{% endif %}" for="{{ field }}" {% if context[field].output_data.description %}aria-describedby="{{field}}HelpInline"{% endif %}>{{ field | replace('_', ' ')}}</label>
			{% if context[field].output_data.description %}
		    <span id="{{field}}HelpInline" class="form-text">
			{% if context[field].output_data.required==true %}Required. {%endif%}
				{{context[field].output_data.description}}
			</span>
			{%endif%}
			{% if config['enable_audio_accessibility'] %}
			<sup><button type="button" alt="audio accessibility {{subtitle}} {{field}} description" class="btn btn-outline-success btn-sm" style="margin-left:2px; font-size:0.9em;" onClick="play( 'audio_{{subtitle}}_{{field}}' )">listen</button></sup>
			{# <img src="{{ url_for( 'static', filename='audio_dark.png' if dark_mode else 'audio_light.png' ) }}" alt="audio accessibility {{subtitle}} {{field}}" style="padding-left:2px; max-width:1.5%; height: auto;" class="{{subtitle}}_{{field}}" onClick="play( 'audio_{{subtitle}}_{{field}}' )">  #}
			<audio id="audio_{{subtitle}}_{{field}}" src="{{url_for (config['path_to_accessibility_audio'], filename=subtitle+'_'+field+'.mp3') }}"></audio>
			{%endif%}
			<textarea class="form-control" onchange="validateFields('{{subtitle}}', '{{field}}', this.value, this.id);" rows="3" style="resize: vertical;" maxlength="{{context[field].input_field.maxlength if context[field].input_field.maxlength}}" value="{{ default_value }}" id="{{ field }}" name="{{ field }}"></textarea>
			<div class="valid-feedback" id="{{field}}-is-valid">This field is valid!</div>
			<div class="invalid-feedback" id="{{field}}-is-invalid">This field is invalid!</div>    

		</div>


		{% else %}
		<div title="{{field}}" class="form-group{% if context[field]['_depends_on'] %} {{ context[field]['_depends_on'][0] }}{% endif %}">
			<label class="form-label mt-4{% if context[field].output_data.required==true %} required{% endif %}" for="{{ field }}" {% if context[field].output_data.description %}aria-describedby="{{field}}HelpInline"{% endif %}>{{ field | replace('_', ' ')}}</label>
			{% if context[field].output_data.description %}
		    <span id="{{field}}HelpInline" class="form-text">
			{% if context[field].output_data.required==true %}Required. {%endif%}
				{{context[field].output_data.description}}
			</span>
			{%endif%}
			{% if config['enable_audio_accessibility'] %}
			<sup><button type="button" alt="audio accessibility {{subtitle}} {{field}} description" class="btn btn-outline-success btn-sm" style="margin-left:2px; font-size:0.9em;" onClick="play( 'audio_{{subtitle}}_{{field}}' )">listen</button></sup>
			{# <img src="{{ url_for( 'static', filename='audio_dark.png' if dark_mode else 'audio_light.png' ) }}" alt="audio accessibility {{subtitle}} {{field}}" style="padding-left:2px; max-width:1.5%; height: auto;" class="{{subtitle}}_{{field}}" onClick="play( 'audio_{{subtitle}}_{{field}}' )">  #}
			<audio id="audio_{{subtitle}}_{{field}}" src="{{url_for (config['path_to_accessibility_audio'], filename=subtitle+'_'+field+'.mp3') }}"></audio>
			{%endif%}
			<input class="form-control" onchange="validateFields('{{subtitle}}', '{{field}}', this.value, this.id);" type="{{ input_type }}" value="{{ default_value }}" id="{{ field }}" name="{{ field }}"/>
			<div class="valid-feedback" id="{{field}}-is-valid">This field is valid!</div>
			<div class="invalid-feedback" id="{{field}}-is-invalid">This field is invalid!</div>    



		</div>

		{% endif %}
		{% endfor %}
		
		{% if options._presubmit_msg %}<hr/><label>{{ options._presubmit_msg }}

			{% if config['enable_audio_accessibility'] %}
			<sup><button type="button" alt="audio accessibility {{subtitle}} presubmit message" class="btn btn-outline-success btn-sm" style="margin-left:2px; font-size:0.9em;" onClick="play( 'audio_{{subtitle}}__presubmit_msg' )">listen</button></sup>
			{# <img src="{{ url_for( 'static', filename='audio_dark.png' if dark_mode else 'audio_light.png' ) }}" alt="audio accessibility {{subtitle}} presubmit message" style="padding-left:2px; max-width:1.5%; height: auto;" class="{{subtitle}}__presubmit_msg" onClick="play( 'audio_{{subtitle}}__presubmit_msg' )">  #}
			<audio id="audio_{{subtitle}}__presubmit_msg" src="{{url_for (config['path_to_accessibility_audio'], filename=subtitle+'__presubmit_msg.mp3') }}"></audio>
			{%endif%}

		</label>{% endif %}

		{% if require_password %}

		<div title="password" class="form-group">
			<label class="form-label mt-4 required" for="_password" data-bs-toggle="tooltip" data-bs-placement="right" title="Please re-enter your password to digitally sign this document">Password</label>
			<input class="form-control" type="password" value="" id="_password" name="_password"/>
		</div>	
		{% endif %}

		<div title="submit" class="form-group">
			<input class="btn btn-primary mt-4" id="form-button-submit" type=submit value="Submit">
		</div>

	</fieldset>

	
</form>
{% endif %}


{% if filename %}


<div style="padding-top: 10px;">

	<hr/>
	<table role="presentation" title="csv data" >
	<tr><td>
		<a href="{{ url_for(type+'.download_file', filename = filename, signature=signed_url) }}"><button type="button" class="btn btn-outline-success btn-sm">download a CSV template of this form</button></a>
		<sup><span data-bs-toggle="tooltip" data-bs-placement="right" title="Click me for help"><button class="btn btn-link btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#templateHelp" aria-controls="templateHelp">(?)</button></span></sup>
	</td></tr>
	{% if options['_allow_csv_uploads']%}
	<tr><td>
		<a href="{{ url_for('forms.upload_forms', form_name = subtitle) }}"><button type="button" class="btn btn-outline-success btn-sm">upload form as CSV</button></a>
	</td></tr>
	{% endif %}
	</table>


</div>

{% endif %}


{% if homepage %}
	{{ config.homepage_msg }}
{% endif %}

{% if form_not_found %}
	<p>Go <a href="{{ url_for( 'home' ) }}">home</a>.</p>
{% endif %}

{% endblock %}


{% block addons %}

<div class="offcanvas offcanvas-bottom {% if dark_mode %}bg-dark{% else %}bg-light{% endif %}" style="z-index:999998 !important;" tabindex="-1" id="templateHelp" aria-labelledby="templateHelpLabel">
	<div class="offcanvas-header {% if dark_mode %}bg-dark{% else %}bg-light{% endif %}">
		<h5 class="offcanvas-title" id="templateHelpLabel">Using CSV Templates</h5>
		<button title="dismiss" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div>
			<p>By clicking this link, your browser should download a CSV file with columns names corresponding to the fields in this form.</p>
			<p>You can populate multiple rows of this CSV, each row corresponding to a different, unique submission of this form.</p>
			{% if config['allow_form_uploads_as_excel'] %}
			<p>You can also upload files as an Excel (.xlsx or .xls) document.</p>
			{% endif %}
			<p>Note: the maximum file upload size defined by your organization is {{ config['max_form_upload_size'] }} bytes.</p>
		</div>
	</div>
</div>

<script>
	function play(element) {
	  var audio = document.getElementById(element);
	  // SET THE `audio` element's SRC to `element` ... then, play it
	  audio.play();
	}

	function populateOther (id, value) {
		// console.log(id, value);
		document.getElementById(id).value = value;
	}

</script>

{% endblock %}

{% block right_bar %}

<div class="container" id="right_bar_content" >

</div>

{% endblock %}


{% block js %}


async function generateLookup(s, form_name, id="right_bar_content") {

  const foo = document.getElementById(id)

  let payload = {
    document_id: s,
	form_name: form_name
  };

  let response = await fetch('{{ url_for ('forms.generate_lookup') }}', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json;charset=utf-8'
    },
    body: JSON.stringify(payload)
  });
  
  let result = await response.json();
  let code = await response.status;

  if (code == {{config.error_code}}) {
    foo.innerHTML = ""
  } else {

	// Create an HTML table element
	let table = document.createElement("table");
	table.setAttribute("role", "presentation");
	table.setAttribute("title", "lookup table");
	table.setAttribute("class", "table {{'text-dark' if not dark_mode else ''}}");
	table.setAttribute("style", "width: 100%; table-layout: fixed; word-wrap: break-word; white-space: pre-line;");

    {# // Create a new row at the top of the table
    let topRow = table.insertRow(0);

    // Create a new cell in the top row with a colspan of 2
    let topCell = topRow.insertCell(0);
    topCell.colSpan = 2; #}

    let oldLink = document.getElementById('lookup-link-'+id);
    if (oldLink) {
        oldLink.parentNode.removeChild(oldLink);
    }

    // Create an anchor element with the appropriate href
    let link = document.createElement('a');
    link.href = "{{config['domain']}}/submissions/" + form_name + "/" + s;
    link.innerHTML = "Open Full Record for this Form";
	link.className = "btn btn-primary d-flex justify-content-center my-3"; // This adds Bootstrap classes to style the link as a button
    link.title = "Click here to view more details about this form.";
	link.target = "_blank";
	link.setAttribute("aria-label", "View full details for this form");
    link.id = 'lookup-link-'+id; // Add this line to set the id
	
    {# // Add the anchor element to the top cell
    topCell.appendChild(link); #}

	// Iterate over the JSON object and create HTML rows for each key-value pair
	for (let [key, value] of Object.entries(result)) {
		// Create a table row element
		let row = table.insertRow();
  
		// Create a table cell element for the key
		let keyCell = row.insertCell(0);
		keyCell.innerHTML = key;
  
		// Create a table cell element for the value
		let valueCell = row.insertCell(1);
		valueCell.innerHTML = value;
	}	

	// Set the table as the inner HTML of the parent element
	foo.innerHTML = table.outerHTML;

	foo.parentNode.insertBefore(link, foo);

    // foo.innerHTML = JSON.stringify(result)
  }
}



async function validateFields(fo, fi, val, id) {

  const foo = document.getElementById(id)

  let payload = {
    form: fo,
    field: fi,
    value: val
  };

  let response = await fetch('{{ url_for ('forms.lint_field') }}', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json;charset=utf-8'
    },
    body: JSON.stringify(payload)
  });
  
  let result = await response.json();
  var submit = document.getElementById("form-button-submit");

  if (result['status'] == 'success') {
    foo.classList.remove("is-invalid")
    foo.classList.add("is-valid")
    submit.classList.remove("disabled")

  } else {
    document.getElementById(fi+"-is-invalid").innerHTML = "This field is invalid! " + result['msg']
    foo.classList.add("is-invalid")
    foo.classList.remove("is-valid")
    submit.classList.add("disabled")
  }
}


{% endblock %}