{% extends 'base.html' %}
{% block content %}
			{% if context %}
			<form method="post" autocomplete="off">
				<fieldset>
					{% if options._description %}<label>{{ options._description }}</label><hr>{% endif %}
					{% for field in context.keys() %}

					{# here we assign a local variable called 'content' which either pulls a list of users or the regular field content #}
					{% if context[field].input_field.lookup == "user_list" %}
					{% set content = user_list %}
					{% else %}
					{% set content = context[field].input_field.content %}
					{% endif %}


					{# here we override the default value with overrides if default_overrides was passed #}
					{% if default_overrides and field in default_overrides %}
					{% set default_value = default_overrides[field] %}
					{% else %}
					{% set default_value = context[field].input_field.content[0] %}
					{% endif %}

					{% if context[field].input_field.type == "autocomplete" %}

					<div class="form-group autocomplete{% if context[field]['_depends_on'] %} {{ context[field]['_depends_on'][0] }}{% endif %}">
						<label class="form-label mt-4{% if context[field].output_data.required==true %} required{% endif %}" for="{{ field }}" {% if context[field].output_data.description %}data-bs-toggle="tooltip" data-bs-placement="right" title="{{context[field].output_data.description}}"{% endif %}>{{ field | replace('_', ' ')}}</label>
						<input class="form-control" type="text" value="{{default_value}}" id="{{ field }}" name="{{ field }}" {% if context[field].output_data.required==true %}required{% endif %}/>
					</div>

					<script>
						/*An array containing all values passed for this field:*/
						var {{ field }} = {{ content | safe }};
						autocomplete(document.getElementById("{{ field }}"), {{ field }});
					</script>
				
					{% elif context[field].input_field.type == "select" %}
					<div class="form-group{% if context[field]['_depends_on'] %} {{ context[field]['_depends_on'][0] }}{% endif %}">
						<label class="form-label mt-4{% if context[field].output_data.required==true %} required{% endif %}" for="{{ field }}" {% if context[field].output_data.description %}data-bs-toggle="tooltip" data-bs-placement="right" title="{{context[field].output_data.description}}"{% endif %}>{{ field | replace('_', ' ')}}</label>
						<select name="{{ field }}" class="form-select" {% if context[field].output_data.required==true %}required{% endif %}>
						{% for item in content %}
								<option value="{{ item }}" id="{{ field }} {{ item }}" name="{{ field }}" {%if item == default_value%}selected="selected"{%endif%}>{{ item }}</option>
						{% endfor %}
						</select>
					</div>
					{% elif context[field].input_field.type == "radio" %}
					<div class="form-group{% if context[field]['_depends_on'] %} {{ context[field]['_depends_on'][0] }}{% endif %}">
						<label class="form-label mt-4{% if context[field].output_data.required==true %} required{% endif %}" for="" {% if context[field].output_data.description %}data-bs-toggle="tooltip" data-bs-placement="right" title="{{context[field].output_data.description}}"{% endif %}>{{ field | replace('_', ' ')}}</label>
						{% for item in content %}
						<div class="form-check">
							<label class='form-check-label' for="{{ field }} {{ item }}">{{ item }}
								<input class="form-check-input" type="radio" value="{{ item }}" id="{{ field }} {{ item }}" name="{{ field }}"  {%if item == default_value%}checked="checked"{%endif%}/>
							</label>
						</div>
						{% endfor %}
					</div>
					{% elif context[field].input_field.type == "checkbox" %}
					<div class="form-group{% if context[field]['_depends_on'] %} {{ context[field]['_depends_on'][0] }}{% endif %}">
						<label class="form-label mt-4{% if context[field].output_data.required==true %} required{% endif %}" for="" {% if context[field].output_data.description %}data-bs-toggle="tooltip" data-bs-placement="right" title="{{context[field].output_data.description}}"{% endif %}>{{ field | replace('_', ' ')}}</label>
						{% for item in content %}
						<div class="form-check">
							<label class='form-check-label' for="{{ field }} {{ item }}">{{ item }}
								<input class="form-check-input" type="checkbox" value="{{ item }}" id="{{ field }} {{ item }}" name="{{ field }}"  {%if item in default_value%}checked="checked"{%endif%}/>
							</label>
						</div>
						{% endfor %}
					</div>
					{% elif context[field].input_field.type == "hidden" %}
					{% else %}
					<div class="form-group{% if context[field]['_depends_on'] %} {{ context[field]['_depends_on'][0] }}{% endif %}">
						<label class="form-label mt-4{% if context[field].output_data.required==true %} required{% endif %}" for="{{ field }}" {% if context[field].output_data.description %}data-bs-toggle="tooltip" data-bs-placement="right" title="{{context[field].output_data.description}}"{% endif %}>{{ field | replace('_', ' ')}}</label></td>
						<input class="form-control" type="{{ context[field].input_field.type }}" value="{{ default_value }}" id="{{ field }}" name="{{ field }}"/>
					</div>
	
					{% endif %}
					{% endfor %}
					

					<div class="form-group">
						<input class="btn btn-primary mt-4" type=submit value="Submit">
					</div>

				</fieldset>

				
			</form>
			{% endif %}


			{% if filename %}
			<br/>
			<table>
			  <tr><td>
				<a href="{{ url_for(type+'.download_file', filename = filename, signature=signed_url) }}">download a CSV template of this form</a>
			  </td></tr>
			</table>
		    {% endif %}

			{% if homepage %}
			  {{ display.homepage_msg }}
		    {% endif %}
		    {% if msg %}
			  {{ msg }}
		    {% endif %}
		    {% if form_not_found %}
			    <p>Go <a href="{{ url_for( 'home' ) }}">home</a>.</p>
		    {% endif %}

{% endblock %}
