{% extends 'base.html' %}
{% block content %}
			{% if context %}
			<form method=post>
				<fieldset>
					{% for field in context.keys() %}
					{% if context[field].input_field.type == "radio" or context[field].input_field.type == "checkbox" %}
	
					<div class="form-group">
						<label class="mt-4" for="">{{ field | replace('_', ' ')}}</label>
						{% for item in context[field].input_field.content %}
						<div class="form-check">
							<label class='form-check-label' for="{{ field }} {{ item }}">{{ item }}
								<input class="form-check-input" type="{{ context[field].input_field.type }}" value="{{ item }}" id="{{ field }} {{ item }}" name="{{ field }}" {% if context[field].output_data.required==true %}required{% endif %}/>
							</label>
						</div>
					{% endfor %}
					</div>
					{% elif context[field].input_field.type == "hidden" %}
					{% else %}
					<div class="form-group">
						<label class="form-label mt-4" for="{{ field }}">{{ field | replace('_', ' ')}}</label></td>
						<input class="form-control" type="{{ context[field].input_field.type }}" value="{{ context[field].input_field.content[0] }}" id="{{ field }}" name="{{ field }}" {% if context[field].output_data.required==true %}required{% endif %}/>
					</div>
	
					{% endif %}
					{% endfor %}
					

					<div class="form-group">
						<input class="btn btn-primary mt-4" type=submit value="Submit">
					</div>

				</fieldset>

				
			</form>
			{% endif %}


			{% if filename %}
			<br/>
			<table>
			  <tr><td>
				<a href="{{ url_for('forms.download_file', filename = filename) }}">download a CSV template of this form</a>
				<!-- <form action="{{ url_for('forms.download_file', filename = filename) }}">
					<input type=submit value="Template">
				</form> -->
			  </td></tr>
			</table>
		    {% endif %}

			{% if homepage %}
			  {{ display.homepage_msg }}
		    {% endif %}
		    {% if msg %}
			  {{ msg }}
		    {% endif %}
			{% if display_warning_banner %}
			<hr/>
			{{ display.warning_banner }}
			{% endif %}
		    {% if form_not_found %}
			    Page not found, go <a href="{{ url_for( 'home' ) }}">home</a>.
		    {% endif %}
	    	{% if graphJSON %}
			  <div id='chart' class='chart'”></div>
			{% endif %}
			{% if is_table %}
			  {{ table.to_html(index=False) | safe}}
			{% endif %}	
			
{% endblock %}
