{% extends 'base.html.jinja' %}
{% block content %}
{% if homepage %}
	{{ config.homepage_msg }}
{% endif %}

{% if config['enable_front_page_feed'] and current_user.is_authenticated %}
<div class="container" style='padding-top:10px;' title="recent activity">
    <hr/> 

    <h4>Recent activity</h4>

    {% if news_feed.index|length > 0 %}

    <div style='padding-top:10px;' class="list-group vh-60 scrollable overflow-auto table table-hover">

        <table role="presentation" title="recent activity" class="table {{'text-dark' if not dark_mode else 'table-hover'}}">
            <tbody>
                <tr>
                    <th>Form</th>
                    <th>Document ID</th>
                    <th>Owner</th>
                    <th>Last Edited</th>
                </tr>

            {% for index, row in news_feed.iterrows() %}
                <tr class="table{% if emphasize and item in emphasize %}-secondary{% else %}{{'-dark' if dark_mode else '-transparent'}}{% endif %}">

                    <td>{{ row.form }}</td>
                    <td>{{ row.id }}</td>
                    <td>{{ row.owner }}</td>
                    <td>{{ row.timestamp }}</td>
                
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<p>No recent activity to show at this time.</p>
{% endif %}

{% endif %}

			
{% endblock %}
