{% extends 'base.html' %}
{% block content %}
			{% if context %}
			<form method=post>
			  <table>

			    {% for field in context.keys() %}
				{% if context[field].input_field.type == "radio" or context[field].input_field.type == "checkbox" %}
				<tr>
					<td><label class="form-field" for="">{{ field | replace('_', ' ')}}</label></td>
					<td>
					<table>
					{% for item in context[field].input_field.content %}
					<tr><td><input type="{{ context[field].input_field.type }}" value="{{ item }}" id="{{ field }} {{ item }}" name="{{ field }}" {% if context[field].output_data.required==true %}required{% endif %}/></td><td><label class='multi-select' for="{{ field }} {{ item }}">{{ item }}</label></td></tr>
					{% endfor %}
					</table>
					</td>
				</tr>
				{% elif context[field].input_field.type == "hidden" %}
				{% else %}
				<tr>
				  <td><label class="form-field" for="{{ field }}">{{ field | replace('_', ' ')}}</label></td>
				  <td><input type="{{ context[field].input_field.type }}" value="{{ context[field].input_field.content[0] }}" id="{{ field }}" name="{{ field }}" {% if context[field].output_data.required==true %}required{% endif %}/></td>
				</tr>
				{% endif %}
				{% endfor %}

				<tr><td><input type=submit value=Submit></td></tr>
			  </table>
			</form>
			{% endif %}
			{% if signup %}
				{% with messages = get_flashed_messages() %}
				{% if messages %}
					<div class="notification is-danger">
						{{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
					</div>
				{% endif %}
				{% endwith %}
				<form method="POST" action="/signup">
					<div class="field">
						<div class="control">
							<input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
						</div>
					</div>
		
					<div class="field">
						<div class="control">
							<input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
						</div>
					</div>
		
					<div class="field">
						<div class="control">
							<input class="input is-large" type="password" name="password" placeholder="Password">
						</div>
					</div>
		
					<button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
				</form>
			{% endif %}
		    {% if login %}
				{% with messages = get_flashed_messages() %}
				{% if messages %}
					<div class="notification is-danger">
						{{ messages[0] }}
					</div>
				{% endif %}
				{% endwith %}
				<form method="POST" action="/login">
					<div class="field">
						<div class="control">
							<input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
						</div>
					</div>
		
					<div class="field">
						<div class="control">
							<input class="input is-large" type="password" name="password" placeholder="Your Password">
						</div>
					</div>
					<div class="field">
						<label class="checkbox">
							<input type="checkbox" name="remember">
							Remember me
						</label>
					</div>
					<button class="button is-block is-info is-large is-fullwidth">Login</button>
				</form>
		    {% endif %}
		    {% if homepage %}
			  {{ display.homepage_msg }}
		    {% endif %}
			{% if display.warning_banner %}
			<hr/>
			{{ display.warning_banner }}
			{% endif %}
		    {% if form_not_found %}
			    Form not found, go <a href="{{ url_for( 'forms.forms_home' ) }}">home</a>. {% if msg %}{{ msg }}{% endif %}
		    {% endif %}
	    	{% if graphJSON %}
			  <div id='chart' class='chart'”></div>
			{% endif %}
			{% if is_table %}
			  {{ table.to_html(index=False) | safe}}
			{% endif %}		
{% endblock %}
