{% extends 'base.html.jinja' %}

{% block content %}
<section title="privacy policy">
<h4>Privacy Policy</h4>
<p style="padding-top: 10px;">{{ config['privacy_policy'] }}</p>
</section>
{% endblock %}