{% extends 'base.html' %}

{% block content %}
<h4>Profile</h4>
<table>
<tr><td><b>Username</b>: {{ g.user.username }}</td></tr>
<tr><td><b>Email</b>: {{ g.user.email }}</td></tr>
<tr><td><b>Organization</b>: {{ g.user.organization }}</td></tr>
<tr><td><b>Phone</b>: {{ g.user.phone }}</td></tr>
<tr><td><b>Created</b>: {{ g.user.created_date }}</td></tr>
</table>
<hr/>
<h4>Change Password</h4>
<form method="post">
    <fieldset>

        <div class="form-group">
            <label class="form-label mt-4" for="current_password">Current Password</label>
            <input class="form-control" type="password" name="current_password" id="current_password" placeholder="Enter current password" required>
        </div>

        <div class="form-group">
            <label class="form-label mt-4" for="new_password">New Password</label>
            <input class="form-control" type="password" name="new_password" id="new_password" placeholder="Enter new password" required>            
        </div>

        <div class="form-group mt-4">
            <input class="btn btn-primary" type="submit" value="Update">
        </div>
        
    </fieldset>
</form>

{% endblock %}