{% extends 'base.html' %}
{% block content %}

{% if breadcrumb %}

  {{ breadcrumb }}

{% endif %}    

{% if submissions_home %}

  

{% elif form_home %}

<table class="table {{'text-dark' if not dark_mode else 'table-hover'}}">
  <tbody>
  {% for item in submission.index %} 
    <tr class="table{% if emphasize and item in emphasize %}-secondary{% else %}{{'-dark' if dark_mode else '-transparent'}}{% endif %}">
      <th scope="row">{{submission['Timestamp'][item]}}</th>
      <td>{{submission['hyperlink'][item]}}</td>
      <td>{{submission['form'][item]}}</td>
      <td>{{submission['Reporter'][item]}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


{% else %}
<table class="table {{'text-dark' if not dark_mode else 'table-hover'}}">
    <tbody>
    {% for item in submission.columns %} 
      <tr class="table{% if emphasize and item in emphasize %}{{'-secondary' if dark_mode else '-primary'}}{% else %}{{'-dark' if dark_mode else '-transparent'}}{% endif %}">
        <th scope="row">{{item}}</th>
        <td>{{submission[item].iloc[0]}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}    

{% if form_approval %}

<hr/>
<h4>Review</h4>
<form method="post">
  <fieldset>
    <div class="form-group">
      <label class="form-label mt-4 required" for="" data-bs-toggle="tooltip" data-bs-placement="right" title="Please enter whether you approve this submission">Approval</label>
      <div class="form-check">
        <label class='form-check-label' for="approve yes">I approve
          <input class="form-check-input" style="{{'border: 1px solid;' if not dark_mode else ''}}" type="radio" value="yes" id="approve yes" name="approve" required/>
        </label>
      </div>
      <div class="form-check">
        <label class='form-check-label' for="approve no">I disapprove
          <input class="form-check-input" style="{{'border: 1px solid;' if not dark_mode else ''}}" type="radio" value="no" id="approve no" name="approve"/>
        </label>
      </div>
    </div>
    <div class="form-check">
      <label class='form-check-label' for="approve not-now">No response
        <input class="form-check-input" style="{{'border: 1px solid;' if not dark_mode else ''}}" type="radio" value="not-now" id="approve not-yet" name="approve"/>
      </label>
    </div>
    <br/>
    <div class="form-group">
      <label for="comment" data-bs-toggle="tooltip" data-bs-placement="right" title="Please provide any comments you have on this submission">Comment</label>
      <textarea class="form-control" id="comment" name="comment" value="" rows="3"></textarea>    
    </div>

    {% if require_password %}
    <div class="form-group">
      <label class="form-label mt-4 required" for="password" data-bs-toggle="tooltip" data-bs-placement="right" title="Please re-enter your password to digitally sign this document">Password</label></td>
      <input class="form-control" type="password" value="" id="password" name="password"/>
    </div>	
    {% endif %}
    
    <div class="form-group mt-4">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
  </fieldset>
</form>
<br/>
{% endif %}    




{% if msg %}

  {{ msg }}

{% endif %}    

{% endblock %}
