{% extends 'base.html' %}
{% block content %}

{% if breadcrumb %}

  {{ breadcrumb }}

{% endif %}    

{% if submissions_home %}

  

{% elif form_home %}

<table class="table table-hover">
  <tbody>
  {% for i in submission.index %} 
    <tr class="table-dark">
      <th scope="row">{{submission['Timestamp'][i]}}</th>
      <td>{{submission['hyperlink'][i]}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


{% else %}
<table class="table table-hover">
    <tbody>
    {% for item in submission.columns %} 
      <tr class="table-dark">
         
        <th scope="row">{{item}}</th>
        <td>{{submission[item].iloc[0]}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}    
			

{% if msg %}

  {{ msg }}

{% endif %}    

{% endblock %}
