{% extends 'base.html' %}
{% block content %}

        {% if msg %}
            {{ msg }}
        {% endif %}
        {% if form_not_found %}
            <p>Go <a href="{{ url_for( 'home' ) }}">home</a>.</p>
        {% endif %}
        {% if is_table %}
            {{ table }}
        {% endif %}	

        {% if filename %}
        <br/>
        <table>
            <tr><td>
            <a href="{{ url_for(type+'.download_file', filename = filename) }}">download this data as a CSV</a>
            </td></tr>
        </table>
        {%endif%}


{% endblock %}
