{% extends 'base.html' %}
{% block content %}

<style>
    a {
        word-break: break-all;
    }

</style>

        {% if form_not_found %}
            <p>Go <a href="{{ url_for( 'home' ) }}">home</a>.</p>
        {% endif %}
        {% if is_table %}
            <div title="table" class="container" style="overflow: auto;">
                {{ table }}
            </div>
        {% endif %}	

        {% if filename %}
            <div style="padding-top: 10px;">
            <hr/>
            <a href="{{ url_for(type+'.download_file', filename = filename) }}">download this data as a CSV</a>
            </div>
        {%endif%}


{% endblock %}
