{% extends 'base.html.jinja' %}
{% block content %}

{% if breadcrumb %}

  {{ breadcrumb }}

{% endif %}    

{% if not submissions_home %}
<table role="presentation" title="submissions" class="table {{'text-dark' if not dark_mode else 'table-hover'}}">
  <tbody>
  <tr class="table{% if emphasize and item in emphasize %}{{'-secondary' if dark_mode else '-primary'}}{% else %}{{'-dark' if dark_mode else '-transparent'}}{% endif %}"><th scope="row" colspan="2"><center><b>Form Data</b></center></th></tr>
  {% for item in submission.columns if not item.startswith('_') %} 
    <tr class="table{% if emphasize and item in emphasize %}{{'-secondary' if dark_mode else '-primary'}}{% else %}{{'-dark' if dark_mode else '-transparent'}}{% endif %}">
      <th scope="row">{{item}}</th>
        <td>

        
        {% if item in badge_list and submission[item].iloc[0].__class__.__name__ in ['str','Markup'] %}
        <!-- <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-bs-original-title="Popover Title">Bottom</button> -->

          {% if config['enable_other_profile_views'] == true %}
          <span class="badge bg-primary"><a href="{{url_for('auth.other_profiles', username=submission[item].iloc[0].split(' ')[0])}}" style="color: inherit; text-decoration: inherit;">{{submission[item].iloc[0].split(' ')[0]}}</a></span> {{' '.join(submission[item].iloc[0].split(' ')[1:])|safe()}}
          {% else %}
          <span class="badge bg-primary">{{submission[item].iloc[0].split(' ')[0]}}</span> {{' '.join(submission[item].iloc[0].split(' ')[1:])|safe()}}
          {% endif %}
        {% else %}
          {{submission[item].iloc[0]}}
        {% endif %}
      </td>
    </tr>
  {% endfor %}

  <tr class="table{% if emphasize and item in emphasize %}{{'-secondary' if dark_mode else '-primary'}}{% else %}{{'-dark' if dark_mode else '-transparent'}}{% endif %}"><th scope="row" colspan="2"><center><b>Metadata</b></center></th></tr>
  {% for item in submission.columns if item.startswith('_') %} 
    <tr class="table{% if emphasize and item in emphasize %}{{'-secondary' if dark_mode else '-primary'}}{% else %}{{'-dark' if dark_mode else '-transparent'}}{% endif %}">
      <th scope="row">{{item[1:]|replace('_', ' ')}}</th>
        <td>

        
        {% if item in badge_list and submission[item].iloc[0].__class__.__name__ in ['str','Markup'] %}
        <!-- <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-bs-original-title="Popover Title">Bottom</button> -->

          {% if config['enable_other_profile_views'] == true %}
          <span class="badge bg-primary"><a href="{{url_for('auth.other_profiles', username=submission[item].iloc[0].split(' ')[0])}}" style="color: inherit; text-decoration: inherit;">{{submission[item].iloc[0].split(' ')[0]}}</a></span> {{' '.join(submission[item].iloc[0].split(' ')[1:])|safe()}}
          {% else %}
          <span class="badge bg-primary">{{submission[item].iloc[0].split(' ')[0]}}</span> {{' '.join(submission[item].iloc[0].split(' ')[1:])|safe()}}
          {% endif %}
        {% else %}
          {{submission[item].iloc[0]}}
        {% endif %}
      </td>
    </tr>
  {% endfor %}




  </tbody>
</table>
{% endif %}    

{% if form_approval %}

<hr/>
<h4>Review</h4>
<form method="post">
  <fieldset>
    <div title="approval" class="form-group">
      <label class="form-label mt-4 required" for="" data-bs-toggle="tooltip" data-bs-placement="right" title="Please enter whether you approve, disapprove, or want to pushback this submission">Approval</label>
      <div class="form-check">
        <label class='form-check-label' for="approve yes">I approve
          <input class="form-check-input" style="{{'border: 1px solid;' if not dark_mode else ''}}" type="radio" value="yes" id="approve yes" name="approve" required/>
        </label>
      </div>
      <div class="form-check">
        <label class='form-check-label' for="approve no">I disapprove
          <input class="form-check-input" style="{{'border: 1px solid;' if not dark_mode else ''}}" type="radio" value="no" id="approve no" name="approve"/>
        </label>
      </div>
    </div>
    <div class="form-check">
      <label class='form-check-label' for="approve not-now">Pushback
        <input class="form-check-input" style="{{'border: 1px solid;' if not dark_mode else ''}}" type="radio" value="not-now" id="approve not-yet" name="approve"/>
      </label>
    </div>
    <br/>
    <div title="comment" class="form-group">
      <label for="comment" data-bs-toggle="tooltip" data-bs-placement="right" title="Please provide any comments you have on this submission">Comment</label>
      <textarea class="form-control" id="comment" name="comment" value="" rows="3"></textarea>    
    </div>

    {% if require_password %}
    <div title="password" class="form-group">
      <label class="form-label mt-4 required" for="_password" data-bs-toggle="tooltip" data-bs-placement="right" title="Please re-enter your password to digitally sign this document">Password</label></td>
      <input class="form-control" type="password" value="" id="_password" name="_password"/>
    </div>	
    {% endif %}
    
    <div title="submit" class="form-group mt-4">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
  </fieldset>
</form>
<br/>
{% endif %}    




{% endblock %}
