{% extends 'base.html.jinja' %}

{% block content %}
<h4>Oops! Looks like the page doesn't exist anymore</h4>
<a href="{{ url_for('home') }}"><p>Click here</a> to go to the Home Page</p>
{% endblock %}

