<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {# here we devise some logic to set the dark_mode variable equal to either the user's preference or the site default #}
    {% if user %}                
      {% set dark_mode = true if user and user.theme == 'dark' else false %}
    {% else %}                                              
      {% set dark_mode = config['dark_mode'] %}
    {% endif %}                                              

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-darkly-5.1.3.min.css')}}">	  
    <script src="{{ url_for('static', filename='bootstrap-5.1.3.bundle.min.js')}}"></script>

    <!-- Plotly -->
    <script src="{{ url_for('static', filename='plotly-v1.58.5.min.js') }}"></script>

    <!-- Other -->
    <link rel="stylesheet" href="{{ url_for('static', filename='autocomplete.css') }}">
    <script src="{{ url_for('static', filename='autocomplete.js') }}"></script>
    {% if config['enable_hcaptcha'] %}
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    {% endif %}
    
    <!-- Remaining header data -->
    <link rel="shortcut icon" href='{{ url_for('static', filename=config.favicon) }}' />
    <link rel='shortcut icon' type='image/x-icon' href='{{ url_for('static', filename=config.favicon) }}' />

    <title>{{ config['site_name'] }} {{ name }}</title>
    <style>
    .required::before {
      content: "* ";
      color: red;
    }


    </style>
  
  </head>

  <body class="{{ 'p-3 mb-2 bg-dark text-white' if dark_mode else 'p-3 mb-2 bg-transparent text-dark' }}">        
      <nav class="navbar navbar-expand-lg fixed-top {{'navbar-dark bg-dark' if dark_mode else 'navbar-light bg-light text-dark'}} border-bottom" style="padding-left: 30px;z-index:999999 !important;">
          <a href="{% if type == 'external' %}#{% else %}{{ url_for('home') }}{% endif %}" class="navbar-brand">{{ config['site_name'] }} <small class="{{'text-muted' if dark_mode else 'text-secondary'}}">v.{{ config['version'] }}</small></a>    
            <ul class="nav navbar-nav">
              {% if user %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for( 'forms.forms_home' ) }}">Forms</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Visualizations</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ url_for( 'tables.tables_home' ) }}">Tables</a>
                    <a class="dropdown-item" href="{{ url_for( 'dashboards.dashboards_home' ) }}">Dashboards</a>
                  </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for( 'submissions.submissions_home' ) }}">Submissions</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for( 'auth.profile' ) }}">Profile{%if notifications%} <sup class="badge rounded-pill bg-primary">{{notifications}}</sup>{%endif%}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for( 'auth.logout' ) }}">Logout</a></li>
              {% elif suppress_navbar %}   
              {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for( 'auth.login' ) }}">Login</a></li>
                {% if config.allow_anonymous_registration %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for( 'auth.register' ) }}">Register</a></li>
                {% endif %}
              {% endif %}
              </ul>

              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user %}
                <li class="nav-link active me-auto" style="padding-right: 30px;">Currently logged in as <small class="{{'text-muted' if dark_mode else 'text-secondary'}}muted">{{ user.username }}</small>.</li>
                {% elif signed_url %}
                <li class="nav-link active me-auto" style="padding-right: 30px;">You are completing this form as <small class="{{'text-muted' if dark_mode else 'text-secondary'}}">{{ signed_url }}</small>.</li>
                {% endif %} 
              </ul>
          </nav>      

        <div class="d-grid gap-2 fixed-top {{'navbar-dark bg-dark' if dark_mode else 'navbar-transparent bg-transparent text-dark'}}" style="max-width:18%; padding-top: 100px; padding-left: 30px; height: 100%;z-index:999998 !important;">  
            <ul class="nav nav-pills nav-stacked flex-column">
              <h3 class="nav-link border-bottom {{' text-dark' if not dark_mode else ''}}{{' text-dark' if not dark_mode else ''}}">{{ name }} <small class="{{'text-muted' if dark_mode else 'text-secondary'}}">{% if context %}form{% elif is_table %}table{% elif graphJSON %}dashboard{% elif homepage %}home{% endif %}</small></h3>        
                {% if menu %}
                {% for item in menu %} 
                <li class="nav-item"><a class="nav-link{{' text-dark' if not dark_mode else ''}}" href="{{ url_for( type+'.'+type, form_name=item ) }}">{{ item }}</a></li>
                {% endfor %}
                {% endif %}                           
            </ul>
        </div>
        <div class="d-grid gap-2 position-absolute top-0 start-50 translate-middle-x" style="width:50%; padding-top: 120px; padding-bottom: 20px;">
          {% if get_flashed_messages() %}
          <div class="alert alert-dismissible alert-primary">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>{% for message in get_flashed_messages() %}{{ message }}{% endfor %}</strong>
          </div>
          {% endif %}

          {% block content %}{% endblock %}
          
          {% if config.warning_banner %}
          <br/><br/><br/><br/><br/><br/><hr/>
          {{ config.warning_banner }}
          {% endif %}          
        </div>

  {% block addons %}{% endblock %}

    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="templateHelp" aria-labelledby="templateHelpLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="templateHelpLabel">Using CSV Templates</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <p>By clicking this link, your browser should download a CSV file with columns names corresponding to the fields in this form.</p>
          <p>You can populate multiple rows of this CSV, each row corresponding to a different, unique submission of this form.</p>
        </div>
      </div>
    </div>


    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
  </body>
</html>
