<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
	  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-darkly-5.1.3.min.css') }}">
	  <script src="{{ url_for('static', filename='bootstrap-5.0.2.bundle.min.js') }}"></script>

    <!-- Remaining header data -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href='{{ url_for('static', filename=display.favicon) }}' />
    <link rel='shortcut icon' type='image/x-icon' href='{{ url_for('static', filename=display.favicon) }}' />

    <title>{{ display['site_name'] }} {{ name }}</title>      
  </head>

  <body>        
    <div class="container">
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
          <a href="{{ url_for('home') }}" class="navbar-brand">{{ display['site_name'] }}</a>    
            <ul class="nav navbar-nav">
              {% if g.user %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for( 'forms.forms_home' ) }}">Forms</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for( 'tables.tables_home' ) }}">Tables</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for( 'dashboards.dashboards_home' ) }}">Dashboards</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for( 'auth.profile' ) }}">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for( 'auth.logout' ) }}">Logout</a></li>
              {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for( 'auth.login' ) }}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for( 'auth.register' ) }}">Register</a></li>
              {% endif %}
              </ul>
          </nav>
      </div>





      <div class="container-fluid">
        <div class="bs-component">
          <ul class="nav nav-pills flex-column">
            <h3>{{ name }}  <small class="text-muted">{% if context %}form{% elif is_table %}table{% elif graphJSON %}dashboard{% elif homepage_msg %}home{% endif %}</small></h3><hr/>          
            <li class="nav-item">
              {% if menu %}
              {% for item in menu %}
              <a href="{{ url_for( type, form_name=item ) }}">{{ item }}</a>
              {% endfor %}
              {% endif %}    
              {% if g.user %}
              <span>Currently logged in as <small class="text-muted">{{ g.user.username }}</small>.</span>
              {% endif %}          
            </li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for( type, form_name=item ) }}">{{ item }}</a></li>
          </ul>
        </div>
      </div>
  <br>
      <div class="col-sm-9">
        <div class="well">
          {% if get_flashed_messages() %}
          <br/>
          <div style="height: auto; resize: none;" class='well' id='form_data'>
            {% for message in get_flashed_messages() %}
              <div class="flash">{{ message }}</div>
            {% endfor %}
          </div>  
          {% endif %}
          {% block content %}{% endblock %}
       </div>
  <script src="{{ url_for('static', filename='jquery-3.2.1.slim.min.js') }}"></script>
  {% if graphJSON %}
	<script src="{{ url_for('static', filename='plotly-v1.58.5.min.js') }}"></script>
	<script type='text/javascript'>
		var graphs = {{graphJSON | safe}};
		Plotly.plot('chart',graphs,{});
	</script>
	{% endif %}
  </body>
</html>
