<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
        {% endblock %}

        <!-- Remaining header data -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href='{{ url_for('static', filename=display.favicon) }}' />
        <link rel='shortcut icon' type='image/x-icon' href='{{ url_for('static', filename=display.favicon) }}' />

        <title>{{ display['site_name'] }} {{ name }}</title>      
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href=" {{ url_for('home') }}">{{ display['site_name'] }}</a>
                </div>
                <ul class="nav navbar-nav">
                {% if g.user %}
                    <li {% if context %}class="active"{% endif %}><a href="{{ url_for( 'forms.forms_home' ) }}">Forms</a></li>
                    <li {% if is_table %}class="active"{% endif %}><a href="{{ url_for( 'tables.tables_home' ) }}">Tables</a></li>
                    <li {% if graphJSON %}class="active"{% endif %}><a href="{{ url_for( 'dashboards.dashboards_home' ) }}">Dashboards</a></li>
                    <li><a href="{{ url_for( 'auth.profile' ) }}">Profile</a></li>
                    <li><a href="{{ url_for( 'auth.logout' ) }}">Logout</a></li>
                {% else %}
                    <li class="justify-content-end"><a href="{{ url_for( 'auth.login' ) }}">Login</a></li>
                    <li class="justify-content-end"><a href="{{ url_for( 'auth.register' ) }}">Register</a></li>
                {% endif %}
                </ul>
            </div>
          </nav>
          <div class="container-fluid">
            <div class="row content">
            <div class="col-sm-3 hidden-xs">
                <h3>{{ name }}  <small class="text-muted">{% if context %}form{% elif is_table %}table{% elif graphJSON %}dashboard{% elif homepage_msg %}home{% endif %}</small></h3><hr/>
                <ul class="nav nav-pills nav-stacked">  
                {% if menu %}
                {% for item in menu %}
                    <li {% if name == item %}class="active"{% endif %}><a href="{{ url_for( type, form_name=item ) }}">{{ item }}</a></li>
                {% endfor %}
                {% endif %}    
                {% if g.user %}
                    <span>Currently logged in as <small class="text-muted">{{ g.user.username }}</small>.</span>
                {% endif %}
                </ul>
            </div>
            <br>
            <div class="col-sm-9">
                <div class="well">
                {% if get_flashed_messages() %}
                    <br/>
                    <div style="height: auto; resize: none;" class='well' id='form_data'>
                    {% for message in get_flashed_messages() %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </div>  
                {% endif %}
            {% block content %}{% endblock %}
            </div>
        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            {% if graphJSON %}
            <script src="{{ url_for('static', filename='plotly-v1.58.5.min.js') }}"></script>
            <script type='text/javascript'>
                var graphs = {{graphJSON | safe}};
                Plotly.plot('chart',graphs,{});
            </script>
            {% endif %}
        {% endblock %}
    
    </body>
</html>